.container
  width: 80%
  height: 60px
  display: flex
  justify-content: flex-start
  align-items: center
  background: #dadae0
  border-radius: 10px
  color: darkgrey
  padding: 10px 20px
  box-sizing: border-box
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px

  .title
    margin: 0
    cursor: pointer
    color: rgba(92, 92, 92, 0.9)

.title-container
  display: flex
  gap: 5px

.link
  display: block

  a
    text-decoration: none
    color: #bababa

.by
  font-weight: 600